Repository Tyrrrz/DiscordChatExporter, pull requests merged in 2021-04, with the labels that each got.

#497 Add partition by file size
  DiscordChatExporter.Cli/Commands/Base/ExportCommandBase.cs
  DiscordChatExporter.Cli/Commands/Base/PartitionConverter.cs
  DiscordChatExporter.Cli/DiscordChatExporter.Cli.csproj
  DiscordChatExporter.Core/Discord/Data/Attachment.cs
  DiscordChatExporter.Core/Discord/Data/Common/FileSize.cs
  DiscordChatExporter.Core/DiscordChatExporter.Core.csproj
  DiscordChatExporter.Core/Exporting/ExportRequest.cs
  DiscordChatExporter.Core/Exporting/MessageExporter.cs
  DiscordChatExporter.Core/Exporting/Partitioners/ExportPartitioningContext.cs
  DiscordChatExporter.Core/Exporting/Partitioners/FileSizePartitioner.cs
  DiscordChatExporter.Core/Exporting/Partitioners/IPartitioner.cs
  DiscordChatExporter.Core/Exporting/Partitioners/MessageCountPartitioner.cs
  DiscordChatExporter.Core/Exporting/Partitioners/NullPartitioner.cs
  DiscordChatExporter.Core/Exporting/Writers/MessageWriter.cs
  DiscordChatExporter.Gui/Converters/PartitionFormatToStringConverter.cs
  DiscordChatExporter.Gui/Converters/PartitionFormatToTextBoxHintConverter.cs
  DiscordChatExporter.Gui/Converters/PartitionFormatToTooltipConverter.cs
  DiscordChatExporter.Gui/Services/SettingsService.cs
  DiscordChatExporter.Gui/Utils/PartitionFormat.cs
  DiscordChatExporter.Gui/ViewModels/Dialogs/ExportSetupViewModel.cs
  DiscordChatExporter.Gui/ViewModels/RootViewModel.cs
  DiscordChatExporter.Gui/Views/Dialogs/ExportSetupView.xaml
  DiscordChatExporter.Gui/Views/Dialogs/ExportSetupView.xaml.cs
Labels: enhancement

#552 Write user color in JSON
  DiscordChatExporter.Core/Exporting/Writers/JsonMessageWriter.cs
Labels: enhancement, format/json

#554 Export channel category id to JSON
  DiscordChatExporter.Core/Exporting/Writers/JsonMessageWriter.cs
Labels: enhancement, format/json

#558 Escape brackets in category name
  DiscordChatExporter.Cli/Commands/Base/ExportCommandBase.cs
Labels: app/cli, bug
