Repository Tyrrrz/DiscordChatExporter, pull requests merged in 2023-10, with the labels that each got.

#1131 Add progress to fetching channels step
  DiscordChatExporter.Cli/Commands/ExportAllCommand.cs
  DiscordChatExporter.Cli/Commands/ExportGuildCommand.cs
Labels: enhancement, app/cli

#1138 Remove CDN signature before hashing asset URL
  DiscordChatExporter.Core/Exporting/ExportAssetDownloader.cs
Labels: enhancement

#1148 Add command to fix broken permissions to Linux installation instructions
  .docs/Linux.md
Labels: enhancement, docs
