Repository Tyrrrz/DiscordChatExporter, pull requests merged in 2024-01, with the labels that each got.

#1183 Fix docker user permission issues by creating the user manually
  DiscordChatExporter.Cli.dockerfile
Labels: bug, app/cli, docker

#1185 Use `null` as the default locale, which resolves to the current system default locale
  DiscordChatExporter.Cli/Commands/Base/ExportCommandBase.cs
  DiscordChatExporter.Core/Exporting/ExportRequest.cs
  DiscordChatExporter.Gui/Converters/LocaleToDisplayNameConverter.cs
  DiscordChatExporter.Gui/Services/SettingsService.cs
  DiscordChatExporter.Gui/ViewModels/Dialogs/SettingsViewModel.cs
Labels: enhancement

#1188 Add support for `has:invite` filter that matches messages with guild invites
  DiscordChatExporter.Cli.Tests/Specs/FilterSpecs.cs
  DiscordChatExporter.Core/Exporting/Filtering/HasMessageFilter.cs
  DiscordChatExporter.Core/Exporting/Filtering/MessageContentMatchKind.cs
  DiscordChatExporter.Core/Exporting/Filtering/Parsing/FilterGrammar.cs
Labels: enhancement

#1194 Fix docker user permissions issues
  .docs/Docker.md
  DiscordChatExporter.Cli.dockerfile
  docker-entrypoint.sh
Labels: bug, docker
